:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

:root {
    --gray: oklch(75% 0.02 86.99);
    --gray-dark: oklch(55% 0.02 86.99);
    --gray-darker: oklch(35% 0.02 86.99);
    --primary: oklch(85.41% 0.16 86.99);
    --primary-dark: oklch(75.41% 0.16 86.99);
    --primary-text: black;

    --red: oklch(57.03% 0.16 26.17);
    --green: oklch(53.56% 0.16 146.11);

    --link: oklch(54.15% 0.0906 236.62);
    --link-dark: oklch(44.15% 0.0906 236.62);
}

.container {
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.qr-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#qr-reader {
    width: 50%;
    aspect-ratio: 1;
    border: none;
}

#qr-reader-results {
    width: 50%;
    text-align: center;
}


.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.back__button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-dark);
    font-size: 1rem;
    margin: 2em;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    background: var(--primary);
    color: var(--primary-text);
    text-decoration: none;

    &:hover {
        background: var(--primary-dark);
    }
}

iconify-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.waste_detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.waste_detail__item {
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 0.125rem;
    }
}


.card {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    margin-bottom: 2.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.card__image {
    img {
        object-fit: contain;
        max-height: 10rem;
        width: 100%;
    }
}

.card__title {
    margin-bottom: 0.25rem;
}

.waste_destination {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
}

.waste_destination--small {
    font-size: 0.6rem;
}

.waste_destination__name {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 500;
    background: var(--gray-dark);
    color: white;
}

.waste_destination__name--blue {
    background: oklch(47.77% 0.1839 262.26);
    color: white;
}

.waste_destination__name--yellow {
    background: oklch(87.69% 0.1663 96.09);
    color: black;
}

.waste_destination__link {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.link {
    color: var(--link);

    &:hover {
        color: var(--link-dark);
    }
}

.chat_cta {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background: var(--primary);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: var(--primary-text);

    iconify-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.title {
    margin-bottom: 1rem;
}

.map {
    margin-bottom: 1.5rem;
    height: 24rem;
}

.location_list {
    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.location {

}

.location__details {
    margin-bottom: 0.5rem;
}

.location__address {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--gray-dark);
}

.location__targets {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.center-items{
    align-items: center;
    justify-content: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.modal-content form {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Kokes */
:root {
    --bg-color: #dfddd9;
    --text-color: #0a0a0c;
    --brand-color: #171d22;
    --search-button: #5bb361;
    --search-button-hover: #3b9546;
    --search-button-text: #fcfeff;
    --location-note: #373534;
    --location-note-hover: #0a0a0c;
    --result-screen: #8cc182;
    --result-screen-text: #fcfeff;
    --content-color: #f0f0ee;
    --waste-detail-do: #3b9546;
    --waste-detail-dont: #C44842FF;
    --hamster-background: 223, 221, 217;
    transition: background-color 0.4s ease, color 0.4s ease;
}

[data-theme="dark"] {
    --bg-color: #2d2a2b;
    --text-color: #f5f5f5;
    --brand-color: #ffffff;
    --search-button: #f6db69;
    --search-button-hover: #b69f2e;
    --search-button-text: #0a0a0c;
    --location-note: #f0f0ee;
    --location-note-hover: #ffffff;
    --result-screen: #373534;
    --result-screen-text: #fcfeff;
    --content-color: #423f3d;
    --waste-detail-do: #a5d89b;
    --waste-detail-dont: #ff7373;
    --hamster-background: 45, 42, 43;
    transition: background-color 0.4s ease, color 0.4s ease;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    gap: 1em;
}

.brand_name {
    color: var(--brand-color);
    margin-bottom: 0;
    font-size: 4rem;
}

.brand_logo {
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    gap: 0.5rem;
    margin: 0.5em 0;
    flex-wrap: wrap;
}

.search__input {
    flex: 1 1;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--content-color);
}

.search__button {
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    background: var(--search-button);
    color: var(--search-button-text);
    text-decoration: none;

    &:hover {
        background: var(--search-button-hover);
    }
}

.search__button_text {
    display: none;
    margin-left: 0.5rem;

    @media (min-width: 768px) {
        display: inline;
    }
}

.location_note {
    color: var(--location-note);
    font-size: 1rem;
    margin-bottom: 2rem;

    a {
        color: var(--location-note);
        text-decoration: underline;
        &:hover {
            color: var(--location-note-hover);
        }
    }
}

.waste_detail__item--do {
    &::before {
        content: "Patrí sem:";
        font-weight: 600;
        color: var(--waste-detail-do);
        margin-bottom: 0.75rem;
    }
    iconify-icon {
        color: var(--waste-detail-do);
    }
}

.waste_detail__item--dont {
    &::before {
        content: "Nepatrí sem:";
        font-weight: 600;
        color: var(--waste-detail-dont);
        margin-bottom: 0.75rem;
    }
    iconify-icon {
        color: var(--waste-detail-dont);
    }
}

/* Landing Screen */
#landing-screen {
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#landing-screen.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

#result-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    color: var(--result-screen-text);
    background: var(--result-screen);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#result-screen.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#result-screen.slide-down {
    transform: translateY(100%);  /* Slide the screen down */
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.back-button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.back-button:before,
.back-button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.back-button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.back-button:after {
  border: 4px solid #d2e1cc;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.back-button:hover:before,
.back-button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.back-button:hover:after,
.back-button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.back-button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.back-button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.back-button:hover .back-button-box,
.back-button:focus .back-button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

/* Result screen content */
.result-screen-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.result-screen-box {
    flex: 1 1 45%;
    padding: 20px;
    margin: 5px;
}

#response-image {
    width: auto;
    max-height: 300px;
    object-fit: contain;
}

/* Dark/light mode toggle switch */
.toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 15vw;
    max-width: 74px;
    height: 7vw;
    max-height: 34px;
    cursor: pointer;
}

.toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--content-color);
    border-radius: 9999px;
    overflow: hidden;
    transition: background 0.4s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.slider::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 5%;
    width: 36.5%;
    height: 80%;
    background: linear-gradient(to right, #f97316, #f59e0b);
    border-radius: 50%;
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.toggle input[type="checkbox"]:checked ~ .slider {
    background: #71717a;
}

.toggle input[type="checkbox"]:checked ~ .slider::after {
    transform: translateX(150%);
    background: #18181b;
}

.sun-icon {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 25%;
    height: 50%;
    fill: #ffffff;
    opacity: 1;
    transition: 0.4s;
}

.toggle input[type="checkbox"]:checked ~ .sun-icon {
    opacity: 0.6;
}

.moon-icon {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 25%;
    height: 50%;
    fill: #000000;
    opacity: 0.6;
    transition: 0.4s;
}

.toggle input[type="checkbox"]:checked ~ .moon-icon {
    fill: #ffffff;
    opacity: 0.7;
}

.content {
    position: relative;
    width: 100%;
    flex-grow: 1;
    background: var(--content-color);
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.15);
    margin-top: -25px;
    padding: 3em;
    z-index: 1;
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* Navigasion */
.navigasion {
    display: flex;
    gap: 0.5%;
    min-height: 80px;
}

.nav__link {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    background: var(--content-color);
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.4s, color 0.4s;
}

.nav__link:hover {
  flex: 2;
  background-color: #b8b8b8;
}

.nav__link--active {
    pointer-events: none;
    background-color: var(--search-button);
    color: var(--search-button-text);
    font-weight: bold;
    cursor: default;
    flex: 1;
}

/* Hampter */
#loading-hamster {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    background: rgba(var(--hamster-background), 0.7);
    visibility: hidden;
    transition: opacity 0.4s ease;
}

#loading-hamster.visible {
    opacity: 1;
    visibility: visible;
}

.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

.chat {
  position: fixed;
  bottom: 1em;
  right: 1em;
  max-width: 100%;
  width: 20em;
  height: 20em;

  background: white;
  border-radius: 0.5em;
  padding: 0.75em 1em;

  display: flex;
  flex-direction: column;

  z-index: 100;

  overflow: hidden;
}

.chat-header {
  font-weight: bold;
  flex-shrink: 0;
  margin-bottom: 0.5em;
}

.chat-message {
  font-size: 0.8em;
  background: rgba(0,0,0,0.1);
  margin-right: 2em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

.chat-message-user {
  margin-right: 0;
  margin-left: 2em;
  background: var(--search-button);
  color: var(--search-button-text);
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
}

.chat-input input {
  width: 100%;
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 0.25em;
  margin-top: 0.5em;
  padding: 0.25em 0.5em;
}
