:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

:root {
    --gray: oklch(75% 0.02 86.99);
    --gray-dark: oklch(55% 0.02 86.99);
    --gray-darker: oklch(35% 0.02 86.99);
    --primary: oklch(85.41% 0.16 86.99);
    --primary-dark: oklch(75.41% 0.16 86.99);
    --primary-text: black;

    --red: oklch(57.03% 0.16 26.17);
    --green: oklch(53.56% 0.16 146.11);

    --link: oklch(54.15% 0.0906 236.62);
    --link-dark: oklch(44.15% 0.0906 236.62);
}

.container {
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.brand_name {
    color: var(--primary-dark);
    margin-bottom: 0;
    font-size: 2.5rem;
}

.brand_logo {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.qr-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#qr-reader {
    width: 50%;
    aspect-ratio: 1;
    border: none;
}

#qr-reader-results {
    width: 50%;
    text-align: center;
}


.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width= 100%;
    gap: 1rem;

}


.search {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.search__input {
    flex: 1 1;
    /*flex-shrink: 1;*/
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray);
}

.search__button {
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    background: var(--primary);
    color: var(--primary-text);
    text-decoration: none;

    &:hover {
        background: var(--primary-dark);
    }
}

.search__button_text {
    display: none;
    margin-left: 0.5rem;

    @media (min-width: 768px) {
        display: inline;
    }
}


.back__button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-dark);
    font-size: 1rem;

    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    background: var(--primary);
    color: var(--primary-text);
    text-decoration: none;

    &:hover {
        background: var(--primary-dark);
    }
}


.location_note {
    color: var(--gray-dark);
    font-size: 0.8rem;
    margin-bottom: 1rem;

    a {
        color: var(--gray-dark);
        text-decoration: underline;
        &:hover {
            color: var(--gray-darker);
        }
    }
}

iconify-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.tabs {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.tabs__item {
    flex: 1;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    color: var(--gray-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025em;

    @media (min-width: 768px) {
        flex: 0;
    }

    &:hover {
        color: var(--gray-darker);
    }
}

.tabs__item--active {
    margin-bottom: -1px;
    border-bottom: 3px solid var(--primary-dark);
    font-weight: 600;
    color: var(--primary-dark);

    &:hover {
        color: var(--primary-dark);
    }
}

.waste_detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.waste_detail__item {
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 0.125rem;
    }
}

.waste_detail__item--do {
    &::before {
        content: "Patrí sem:";
        font-weight: 600;
        color: var(--green);
        margin-bottom: 0.75rem;
    }
    iconify-icon {
        color: var(--green);
    }
}

.waste_detail__item--dont {
    &::before {
        content: "Nepatrí sem:";
        font-weight: 600;
        color: var(--red);
        margin-bottom: 0.75rem;
    }
    iconify-icon {
        color: var(--red);
    }
}


.card {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    margin-bottom: 2.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.card__image {
    img {
        object-fit: contain;
        max-height: 10rem;
        width: 100%;
    }
}

.card__title {
    margin-bottom: 0.25rem;
}

.waste_destination {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
}

.waste_destination--small {
    font-size: 0.6rem;
}

.waste_destination__name {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 500;
    background: var(--gray-dark);
    color: white;
}

.waste_destination__name--blue {
    background: oklch(47.77% 0.1839 262.26);
    color: white;
}

.waste_destination__name--yellow {
    background: oklch(87.69% 0.1663 96.09);
    color: black;
}

.waste_destination__link {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.link {
    color: var(--link);

    &:hover {
        color: var(--link-dark);
    }
}

.chat_cta {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background: var(--primary);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: var(--primary-text);

    iconify-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.title {
    margin-bottom: 1rem;
}

.map {
    margin-bottom: 1.5rem;
    height: 24rem;
}

.location_list {
    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.location {

}

.location__details {
    margin-bottom: 0.5rem;
}

.location__address {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--gray-dark);
}

.location__targets {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.center-items{
    align-items: center;
    justify-content: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    border-radius: 12px;
}

.modal-content form {
    text-align: center;
=======
    border-radius: 25px;
>>>>>>> 64780b2469879916f23571bc6883aa6d4d03bb79
=======
    border-radius: 25px;
>>>>>>> 64780b2469879916f23571bc6883aa6d4d03bb79
=======
    border-radius: 25px;
>>>>>>> 64780b2469879916f23571bc6883aa6d4d03bb79
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Kokes */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 0.5s ease;
}

/* Landing Screen */
#landing-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#landing-screen.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

#result-screen {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #5e8d83;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    border-radius: 50px 50px 0 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#result-screen.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%);
}

#result-screen.slide-down {
    transform: translateY(100%);  /* Slide the screen down */
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.back-button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.back-button:before,
.back-button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.back-button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.back-button:after {
  border: 4px solid #d2e1cc;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.back-button:hover:before,
.back-button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.back-button:hover:after,
.back-button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.back-button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.back-button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.back-button:hover .back-button-box,
.back-button:focus .back-button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
#response-text {
    margin-top: 80px;
    text-align: center;
    font-size: 24px;
    color: #333;
    color: white;
}
=======

>>>>>>> 64780b2469879916f23571bc6883aa6d4d03bb79
=======

>>>>>>> 64780b2469879916f23571bc6883aa6d4d03bb79
=======

>>>>>>> 64780b2469879916f23571bc6883aa6d4d03bb79
