:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

:root {
    --gray: oklch(75% 0.02 86.99);
    --gray-dark: oklch(55% 0.02 86.99);
    --gray-darker: oklch(35% 0.02 86.99);
    --primary: oklch(85.41% 0.16 86.99);
    --primary-dark: oklch(75.41% 0.16 86.99);
    --primary-text: black;

    --red: oklch(57.03% 0.16 26.17);
    --green: oklch(53.56% 0.16 146.11);

    --link: oklch(54.15% 0.0906 236.62);
    --link-dark: oklch(44.15% 0.0906 236.62);
}

.container {
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.brand {
    text-align: center;
    color: var(--primary-dark);
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.search {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.search__input {
    flex: 1 1;
    /*flex-shrink: 1;*/
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray);
}

.search__button {
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    background: var(--primary);
    color: var(--primary-text);
    text-decoration: none;

    &:hover {
        background: var(--primary-dark);
    }
}

.search__button_text {
    display: none;
    margin-left: 0.5rem;

    @media (min-width: 768px) {
        display: inline;
    }
}

.location_note {
    color: var(--gray-dark);
    font-size: 0.8rem;
    margin-bottom: 1rem;

    a {
        color: var(--gray-dark);
        text-decoration: underline;
        &:hover {
            color: var(--gray-darker);
        }
    }
}

iconify-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.tabs {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.tabs__item {
    flex: 1;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    color: var(--gray-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025em;

    @media (min-width: 768px) {
        flex: 0;
    }

    &:hover {
        color: var(--gray-darker);
    }
}

.tabs__item--active {
    margin-bottom: -1px;
    border-bottom: 3px solid var(--primary-dark);
    font-weight: 600;
    color: var(--primary-dark);

    &:hover {
        color: var(--primary-dark);
    }
}

.waste_detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.waste_detail__item {
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 0.125rem;
    }
}

.waste_detail__item--do {
    &::before {
        content: "Patrí sem:";
        font-weight: 600;
        color: var(--green);
        margin-bottom: 0.75rem;
    }
    iconify-icon {
        color: var(--green);
    }
}

.waste_detail__item--dont {
    &::before {
        content: "Nepatrí sem:";
        font-weight: 600;
        color: var(--red);
        margin-bottom: 0.75rem;
    }
    iconify-icon {
        color: var(--red);
    }
}

.card {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    margin-bottom: 2.5rem;
}

.card__image {
    img {
        object-fit: contain;
        max-height: 10rem;
        width: 100%;
    }
}

.card__title {
    margin-bottom: 0.25rem;
}

.waste_destination {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
}

.waste_destination--small {
    font-size: 0.6rem;
}

.waste_destination__name {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 500;
    background: var(--gray-dark);
    color: white;
}

.waste_destination__name--blue {
    background: oklch(47.77% 0.1839 262.26);
    color: white;
}

.waste_destination__name--yellow {
    background: oklch(87.69% 0.1663 96.09);
    color: black;
}

.waste_destination__link {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.link {
    color: var(--link);

    &:hover {
        color: var(--link-dark);
    }
}

.chat_cta {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background: var(--primary);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: var(--primary-text);

    iconify-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.title {
    margin-bottom: 1rem;
}

.map {
    margin-bottom: 1.5rem;
    height: 24rem;
}

.location_list {
    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.location {

}

.location__details {
    margin-bottom: 0.5rem;
}

.location__address {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--gray-dark);
}

.location__targets {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.center-items{
    align-items: center;
    justify-content: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}