OPENAI_API_VERSION="2024-08-01-preview"
AZURE_OPENAI_DEPLOYMENT_NAME="ace-gpt-4o-mini"
AZURE_OPENAI_ENDPOINT=CHANGEME
AZURE_OPENAI_API_KEY=CHANGEME
OPENAI_EMBEDDING_API_VERSION="2023-05-15"
OPENAI_EMBEDDING_DEPLOYMENT_NAME="ace-text-embedding-3-large"
OPENAI_EMBEDDING_ENDPOINT=CHANGEME
OPENAI_EMBEDDING_API_KEY=CHANGEME
NEO4J_URI=CHANGEME
NEO4J_USERNAME=CHANGEME
NEO4J_PASSWORD=CHANGEME
