<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.iconify.design/iconify-icon/2.2.0/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <title>SortWAI</title>
</head>
<body>
    <div class="container">
        <h1 class="brand">Placeholder názov</h1>

        <form action="" class="search">
            <input type="search" name="q" placeholder="Ako triediť...?" class="search__input">
            <button class="search__button" type="submit">
                <iconify-icon icon="mdi:search"></iconify-icon>
                <span class="search__button_text">Vyhľadať</span>
            </button>
            <a href="{% url 'scanner' %}" class="search__button">
                <iconify-icon icon="mdi:barcode-scan"></iconify-icon>
                <span class="search__button_text">Čiarový kód</span>
            </a>
        </form>

        <div class="location_note">
            Zobrazujeme informácie pre <b>Bratislava</b> <a href="#">(zmeniť)</a>
        </div>

        <div class="tabs">
            <a href="{% url "category_list" %}" class="tabs__item {% if request.resolver_match.url_name == 'category_list' %}tabs__item--active{% endif %}">
                Odpad
            </a>
            <a href="{% url "location_list" %}" class="tabs__item {% if request.resolver_match.url_name == 'location_list' %}tabs__item--active{% endif %}">
                Miesta
            </a>
            <a href="{% url "document_list" %}" class="tabs__item {% if request.resolver_match.url_name == 'document_list' %}tabs__item--active{% endif %}">
                Dokumenty
            </a>
        </div>

        {% block body %}{% endblock %}
    </div>

    <a href="#" class="chat_cta">
        <iconify-icon icon="mdi:chat-question" width="none"></iconify-icon>
    </a>
</body>
</html>
